* {
  margin: 0px;
  padding: 0px;
}
html{
  height: 100%;
}
body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
header {
  width: 100%;
  margin: auto;
  height: 7vh;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: rgb(105,105,105);
  z-index: 1;
}
nav {
  flex: 1;
}
.links {
list-style: none;
 position: fixed;
 inset: 8% 0 25% 50%;
 background-color: hsl(0 0% 100% / 0.9);
 padding: 10rem 2em;
 z-index: 1000;
 transform: translateX(100%);
 transition: transform 350ms ease-in-out;
display: flex;
justify-content: space-evenly;
flex-direction: column;
}
.links[data-visible="true"]{
  transform: translateX(0%);
}
.toggel{
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  background:hsl(0 0% 90% / 1) ;
  width: 4rem;
  color: black;
  aspect-ratio: 1;
  top:1%;
  right: 1%;

  z-index: 9999;
  border-radius: 25%;
  
}
.link {
  color: white;
  font-size: 35px;
  text-decoration: none;
  transition: 0.3s ease;
  padding: 5%;
  background: rgb(48, 42, 42);
  border-radius: 10%;
}
 .link:hover{
     text-decoration: underline;
     font-weight: bold;
 }   
 main{
  width: 80%;
  margin: auto;
  padding-top: 8vh;

 }
 .obash {
  margin-left: 2%;
  line-height: 3.5;
  
}
.obash a {
  text-decoration: none;
  font-weight: bold;
  font-size: 38px;
}
.obash a:hover{
    text-decoration: underline;
}
.text {
  width: 92%;
  font-size:37px;
}

.tabulka{
  width: 60%;
  height: 80%;  
}
.zaznam{
  width: 780px;
  height: 130px;
  padding-bottom: 2%;
}

.text p {
  color: rgb(75, 70, 70);
  
}
.text h1{
  color:rgb(48, 42, 42);
  text-shadow: 0.5px 1px black;
}
.text
h2,
h3,h4,h5 {
  color: rgb(37, 36, 36);
  padding-top: 1%;
  padding-bottom: 1%;
}
.text ol{
  color: rgb(63, 61, 61);
  margin-left: 2%;
  margin-top: 2%;
}
.text ol li{
margin-top: 2%;
}
.text ul{
  color: rgb(63, 61, 61);
  margin-left: 2%;
 
}
.SQL{
 margin-top: 2%;
}
.text ul li{
  margin-bottom: 1%;
}
.text a{
  text-decoration: none;
  font-weight: bold;
  color:rgb(75, 70, 70);
}
.text a:hover{
  text-decoration: underline;
}
section{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-items: center;
  padding-top: 18%;
  
}
.uvod{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90%;
   width: 70%;
  margin: auto;
} 
.uvod h1{
  font-size: 90px;
  color: rgb(37, 36, 36);;
}
.uvod p{
  font-size: 45px;
  color: rgb(37, 36, 36);;
}
.uvod a{
  text-decoration: none;
  font-weight: bold;
  color:rgb(75, 70, 70);
}
.uvod a:hover{
  text-decoration: underline;
}
footer{
  background: rgb(105,105,105);
  color: white;
  margin-top: auto ;
  height: 8vh;
  width: 100%;  
  align-items: center;
}
footer .Fmenu{
  list-style: none;
  width: 10%;
  padding-left: 5%;
}
footer .Fmenu  a{
  color: white;
  text-decoration: none;
  display: none;
  
}
footer .Fmenu  a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.one{
  content: url(../img/Mob1ku1.png);
  width: 60%; 
  height: 80%; 
}
.oneN{
  content: url(../img/Mob1kuN.png);
  width: 75%; 
  height: 80%; 
}
.MN{
  content: url(../img/MobMkuN.png);
  width: 70%; 
  height: 80%;
}
video{
  object-fit: contain;
}
.dow{
  width: 100px;
  height: 100px;
  
}

@media all and (min-width: 1000px){
  .links{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  position: relative;
  inset: 0 0 0 0;
  background: none;
  padding: 0;
  margin: 0;
  transform: translateX(0);
  flex-direction: row;
  }
  .toggel{
    display: none;
  }
  header{
    height: 8vh;
  }
  main{
    padding: 10vh;
    width: 70%;
  }
  .text {
    width:90%;
    font-size: 20px;
    display: grid;
    grid-gap: 2rem;
  }
  .obash a {
    font-size: 25px;
  }
  .link {
    font-size: 30px;
    color: white;
    padding: 0;
    background: none;
  } 
  .tabulka{
    width: 152px;
    height: 182px;
  }
  .zaznam{
    width: 700px;
    height: 95px;
  }

  section{
    padding-top: 5%;
  }
  .uvod{
    margin-left: 0,5px ;
  }
  .uvod h1{
    font-size: 70px;
    color: rgb(37, 36, 36);;
  }
  .uvod p{
    font-size: 33px;
    color: rgb(37, 36, 36);;
  }
  footer{
    height: 8vh;
  }
  footer .Fmenu  a{
    font-size: 15px;
    display: block;
  }
  footer .contacts{
    font-size: 15px;
    line-height: 1.5;
  }
  .one{
    content: url(../img/1ku1.png);
   width: 489px;
   height: 160px;

  }
  .oneN{
    content: url(../img/1N.png);
    width: 594px;
   height: 204px;
  }
  .MN{
    content: url(../img/MkuN.png);
    width: 724px;
   height: 138px;
  }
  video{
    object-fit: contain;
    margin-top: 2%;
  }
  .dow{
    width: 48px;
    height: 48px;
    padding-top:2%;
  }
}
